%h1 Task

%b Title
= task.title
%br

%b Description
= task.description
%br

%b Start at
= task.start_at.strftime('%d/%m/%Y %H:%M') if task.start_at
%br

%b End at
= task.end_at.strftime('%d/%m/%Y %H:%M') if task.end_at
%br

%b Latitude
= task.latitude
%br

%b Longitude
= task.longitude
%br

%div{id: 'map', class: 'centered'}
  = map(center: {latlng: [task.latitude, task.longitude], zoom: 15},
  :markers => [{:latlng => [task.latitude, task.longitude],
  :popup => task.title}])
%br

= javascript_include_tag 'application', 'data-turbolinks-track' => true
